/*
* Seccion 4: Bibliografía
*/
.bibliografia {
  height: auto;

  h1 {
    margin-bottom: 40px;
    font-size: 32px;
  }

  ul {
    padding-left: 40px;
    font-size: 18px;
    list-style-type: disc;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        transition: color 0.3s;
      }
    }
  }
}
