<section class="bibliografia" id="biblio">
    <h1>Bibliografía</h1>
    <ul>
      <li><a href="https://www.galiciamaxica.eu/galicia/ourense/" target="_blank">Galicia Mágica - Ourense</a></li>
      <li><a href="https://es.wikipedia.org/wiki/Comarca_de_Ver%C3%ADn#:~:text=Pertenecen%20a%20la%20Comarca%20de,%2C%20Ri%C3%B3s%2C%20Ver%C3%ADn%20y%20Villardev%C3%B3s." target="_blank">Comarca de Verín - Wikipedia</a></li>
      <li><a href="https://www.queverengalicia.com/2014/07/que-ver-en-verin.html" target="_blank">Qué ver en Verín - Que ver en Galicia</a></li>
      <li><a href="https://images.google.com/" target="_blank">Google Images</a></li>
      <li><a href="https://www.turismo.gal/que-visitar/xeodestinos/verin-monterrei?langId=es_ES" target="_blank">Turismo Gallego - Verín y Monterrei</a></li>
      <li><a href="https://verin.es/" target="_blank">Verín - Página oficial del municipio</a></li>
    </ul>
</section>