<section id="descripcion" class="descripcion">
    
    <h2>Introducción</h2>
    <p>
        La comarca de Verín está situada en el extremo sur de Galicia, en el sureste, cerca del noreste de Portugal y de Castilla y León. Su geografía estratégica y sus buenas comunicaciones por carretera permiten llegar fácilmente al noroeste peninsular, a la costa portuguesa y al centro de España. La comarca actúa como un pórtico de entrada a Galicia y como un enlace entre la meseta castellana, el interior de Portugal y el clima continental.
    </p>
    <p>
        El agua es una de las características más representativas de la comarca, con numerosas fuentes minero-medicinales. El valle de Monterrei, el corazón de la comarca, está dominado por el río Támega. El clima variado, que va desde días soleados hasta vientos secos y húmedos, también influye en la producción de vino, uno de sus productos más emblemáticos.
    </p>

    <div class="image-container">
        <div class="text">
            <p>
                Verín fue una de las primeras zonas habitadas de Galicia y siempre ha sido una tierra de paso, compartiendo influencias culturales y sociales con las gentes de Portugal. Su luz y paisajes, especialmente los verdes y los contrastes cromáticos, crean una sensación única, difícil de comparar con cualquier otra parte de Galicia.
            </p>
            <p>
                La comarca de Verín es un lugar donde la luz y la naturaleza se entrelazan de manera única. En sus campos, podemos ver los millos al sol, los frutales en flor y las fincas llenas de vida, reflejando las formas del tiempo. La celebración es también una parte fundamental de la identidad de esta región, con fiestas que son la esencia de la vida local.
            </p>
        </div>
        <img class="image" src="./assets/images/comarca.jpg" alt="Comarca de Verín">
    </div>
    
    <p>
        Este texto es el inicio de una guía publicada por la Fundación Comarcal de Verín, que explora los perfiles que definen la comarca, sus tradiciones, su historia y sus paisajes. La guía invita a los lectores a viajar por la comarca, comenzando con los monumentos más antiguos, como las Torres de Monterrei, y recorriendo los caminos históricos hasta llegar a las tierras de Cualedro, donde los castros gallegos nos hablan de tiempos muy remotos.
    </p>
    <p>
        A medida que avanzamos, la guía nos lleva a descubrir la “raia” (la frontera con Portugal), y otros aspectos de la vida local, como la gastronomía, el vino, los pimientos y las castañas. También se destaca la importancia del Carnaval de Laza, una festividad que es profundamente simbólica, no solo por sus tradiciones, sino también por los desafíos históricos que marcaron su evolución.
    </p>
</section>