<section class="interest" id="interest">

    <h2>Puntos de Interés</h2>

    <!-- Punto 1 -->
    <div class="punto left">
      <div class="content">
        <h3>Castillo de Monterrei</h3>
        <h4>Comarca de Verín, Municipio de Monterrei</h4>
        <p>En el Valle de Monterrei, al sur de Ourense y cerca de la frontera con Portugal, se encuentra la fortaleza de Monterrei, que domina el valle y la villa de Verín. Este enclave tiene una rica historia que data de la época prerromana, donde un castro sirvió como asentamiento primitivo. Posteriormente, familias nobles como los Ulloa, Zúñiga, y Duques de Alba ocuparon el castillo, que se consolidó en el siglo XV bajo el título de Condado de Monterrei, concedido por los Reyes Católicos. La fortaleza jugó roles cruciales en conflictos, desde las guerras de independencia contra los franceses hasta disputas con Portugal.</p>
        <p>La fortaleza de Monterrei, considerada una de las más importantes de Galicia, cuenta con un triple sistema defensivo y varios recintos históricos. En el primero, destacan la Torre de Don Sancho (s. XV), la Iglesia de Santa María de Gracia (s. XIII), y el renacentista Palacio de los Condes. En el segundo recinto se encuentra el Hospital de Peregrinos (s. XIV), y en el exterior, el Parador Nacional de Verín y el cruceiro del siglo XVII. También se documentan leyendas de pasadizos subterráneos, agregando un toque de misterio a este fascinante castillo.</p>
      </div>
      <img src="./assets/images/monterrei.jpg"alt="Castillo de Monterrei" class="image">
    </div>
  
    <!-- Punto 2 -->
    <div class="punto right">
        <div class="content">
          <h3>Balneario de Cabreiroá</h3>
          <h4>Comarca de Verín, Municipio de Verín, Cabreiroá</h4>
          <p>Cabreiroá es una de las marcas más reconocidas en aguas minerales de Galicia, en producción desde 1906. El agua se embotella en una planta ubicada en la parroquia de San Salvador de Cabreiroá, a solo 1,2 km de los famosos jardines y balneario de la misma. Este complejo se sitúa en la comarca de Verín, una región famosa por sus manantiales termales y aguas mineromedicinales, donde también se encuentran otros importantes manantiales como Sousas y Fontenova. El Balneario de Cabreiroá, inaugurado en 1907 y diseñado por el arquitecto Daniel Vázquez-Gulías, fue un centro de salud y bienestar frecuentado, incluso por figuras como Santiago Ramón y Cajal.</p>
          <p>Rodeado de jardines que albergan más de 2,000 especies de plantas, entre ellas un majestuoso Cedro del Himalaya, el Balneario de Cabreiroá combina historia y naturaleza. En sus inicios, el balneario ofrecía terapias para diferentes afecciones, y un pintoresco templete de estilo modernista permitía a los visitantes disfrutar de las aguas medicinales. Aunque el balneario cerró en 1961, la marca de agua mineral Cabreiroá sigue activa bajo la corporación Hijos de Rivera, S.L., también propietaria de Estrella Galicia.</p>
        </div>
        <img src="./assets/images/cabreiroa.jpg" alt="Balneario de Cabreiroá" class="image">
    </div>

    <!-- Punto 3 -->
    <div class="punto left">
        <div class="content">
          <h3>Fervenza da Cidadella</h3>
          <h4>Comarca de Verín, Municipio de Vilardevós</h4>
          <p>A Serra das Penas Libres, situada en el recóndito concello de Vilardevós, es un área de paisajes montañosos y valles profundos, ubicada junto a la frontera portuguesa. Este entorno ha sido históricamente utilizado para el contrabando de mercancías a lo largo de la frontera, conocida localmente como "A Raia." Las rutas del contrabando recorren ríos y caminos que fluyen hacia el sur, estableciendo una conexión natural entre Galicia y Portugal y ofreciendo un vistazo a un pasado culturalmente muy rico.</p>
          <p>En Vilardevós se encuentra la Fervenza da Cidadela, una impresionante cascada con un salto de agua de más de 30 metros, rodeada de frondosa vegetación y antiguos molinos. Esta zona ha sido adaptada con miradores y rutas de senderismo que permiten a los visitantes explorar la cascada y el valle de A Cidadela. En la cima de este recorrido se hallan restos de un antiguo castro, lo que sugiere la antigua presencia de asentamientos estratégicos. La Fervenza da Cidadela se distingue como una de las cascadas más espectaculares de Galicia, tanto por su belleza como por su valor histórico y paisajístico.</p>
        </div>
        <img src="./assets/images/cidadella.png" alt="Fervenza da Cidadella" class="image">
    </div>
  
    <!-- Punto 4 -->
    <div class="punto right">
        <div class="content">
          <h3>Castro da Saceda</h3>
          <h4>Comarca de Verín, Municipio de Cualedro</h4>
          <p>En la localidad de Cualedro, al pie de A Serra do Larouco, se encuentra el Castro da Saceda, una estructura defensiva que data de más de 2,400 años. Este castro destaca por sus sólidas murallas, fosos defensivos y una estratégica ubicación en una colina de 800 metros. Desde este punto elevado, los visitantes pueden disfrutar de una vista panorámica de la llanura circundante, rica en tierras de cultivo y recursos naturales, como el estaño. Las excavaciones en la zona han revelado que las viviendas y almacenes circulares y cuadrangulares del castro fueron ocupados en varias etapas, hasta su abandono en el siglo I d.C.</p>
          <p>Las excavaciones arqueológicas en el Castro da Saceda revelaron numerosos objetos, algunos de los cuales se encuentran en el Museo Arqueológico de Ourense. Estas campañas también han desenterrado leyendas locales, como la que cuenta que desde los castros cercanos se lanzaba un martillo de uno a otro, asociando el mito a un posible dios prerromano, el dios Larouco. Este castro, declarado Bien de Interés Cultural, cuenta con un recorrido señalizado que permite a los visitantes explorar sus restos y revivir su historia milenaria.</p>
        </div>
        <img src="./assets/images/castro.jpg" alt="Castro da Saceda" class="image">
    </div>
  
    <!-- Punto 5 -->
    <div class="punto left">
        <div class="content">
            <h3>Balneario de Sousas</h3>
            <h4>Comarca de Verín, Verín</h4>
            <p>El Balneario de Sousas, ubicado en el sur de Verín, se remonta al siglo XIX y es uno de los balnearios históricos de Galicia. Sus aguas son conocidas desde 1853, cuando fueron mencionadas en el Tratado Completo de las Fuentes Minerales de España. Una leyenda local cuenta que durante la invasión napoleónica, un caballo enfermo bebió del manantial y recuperó la salud, lo que aumentó la popularidad de sus aguas. En 1859 se inauguraron sus primeras instalaciones, y en 1928 se ratificó la declaración de "utilidad pública" de sus aguas. Aunque el balneario ya no opera como centro de baños, las Aguas de Sousas se embotellan y se comercializan hasta el día de hoy.</p>
            <p>El manantial de Sousas, con su característico quiosco hexagonal, sigue siendo popular entre los habitantes de Verín por sus propiedades medicinales. Estas aguas, conocidas por su baja mineralización y su contenido de bicarbonato y flúor, son recomendadas para problemas renales, digestivos y hepáticos. Actualmente, se embotellan en la planta local, que extrae agua mineral natural de dos pozos diferentes. El Balneario de Sousas forma parte de un conjunto de fuentes termales de Verín, junto a otras como Cabreiroá y Caldeliñas, que han contribuido al patrimonio hidromineral de la región.</p>
          </div>
        <img src="./assets/images/sousas.jpg" alt="Balneario de Sousas" class="image">
    </div>
  
    <!-- Punto 6 -->
    <div class="punto right">
        <div class="content">
          <h3>Iglesia Santa María de Gracia</h3>
          <h4>Comarca de Verín, Municipio de Monterrei</h4>
          <p>El Balneario de Sousas, ubicado en el sur de Verín, se remonta al siglo XIX y es uno de los balnearios históricos de Galicia. Sus aguas son conocidas desde 1853, cuando fueron mencionadas en el Tratado Completo de las Fuentes Minerales de España. Una leyenda local cuenta que durante la invasión napoleónica, un caballo enfermo bebió del manantial y recuperó la salud, lo que aumentó la popularidad de sus aguas. En 1859 se inauguraron sus primeras instalaciones, y en 1928 se ratificó la declaración de "utilidad pública" de sus aguas. Aunque el balneario ya no opera como centro de baños, las Aguas de Sousas se embotellan y se comercializan hasta el día de hoy.</p>
          <p>El manantial de Sousas, con su característico quiosco hexagonal, sigue siendo popular entre los habitantes de Verín por sus propiedades medicinales. Estas aguas, conocidas por su baja mineralización y su contenido de bicarbonato y flúor, son recomendadas para problemas renales, digestivos y hepáticos. Actualmente, se embotellan en la planta local, que extrae agua mineral natural de dos pozos diferentes. El Balneario de Sousas forma parte de un conjunto de fuentes termales de Verín, junto a otras como Cabreiroá y Caldeliñas, que han contribuido al patrimonio hidromineral de la región.</p>
        </div>
        <img src="./assets/images/iglesia.jpg" alt="Iglesia Santa María de Gracia" class="image">
    </div>
  </section>