<header>
  <nav>
    <div class="menu-left">
      <span class="site-name">Comarca de Verín</span>
    </div>
    <div class="menu-right">
      <ul class="menu-list">
        <li><a href="#introduccion">Inicio</a></li>
        <li><a href="#descripcion">Introdución</a></li>
        <li><a href="#interest">Puntos de Interés</a></li>
        <li><a href="#biblio">Bibliografía</a></li>
      </ul>
      <i class="fa-solid fa-bars menu-icon"></i> <!-- Icono de hamburguesa -->
    </div>
  </nav>

  <!-- Menú móvil -->
  <div class="mobile-menu">
    <ul>
      <li><a href="#introduccion">Inicio</a></li>
      <hr />
      <li><a href="#descripcion">Introdución</a></li>
      <hr />
      <li><a href="#interest">Puntos de Interés</a></li>
      <hr />
      <li><a href="#biblio">Bibliografía</a></li>
    </ul>
  </div>
</header>
